<!DOCTYPE html>
<html>
<head>
<style>
html, body {width: 100%; height: 100%; margin: 0px; padding: 0px;}
</style>
<script src="{{ STATIC_URL }}js/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
	
	var histories = {}
	var categories = {} 
	

	function init(){ 
		h_html = "<ul>"
		c_html = "<ul>"
		e_html = ""

		{% if common %}
			{% for h in common.history %}
				var d = "{{ h.created | date:'o/m' }}";  
				if(histories[d] == undefined) histories[d] = 1;
				else histories[d] = histories[d] + 1;
			{% endfor %}  

			{% for h in common.categories %}
				c_html += "<li><a href='http://localhost:8000/category/{{h.Title}}/'>{{ h.Title }}</a></li>";
				categories["{{h.id}}"] = "{{ h.Title }}";
			{% endfor %}
		{% endif %}
		
		for (cnt in histories) 
			h_html += "<li><a href='http://localhost:8000/date/"+ cnt +"'>" + cnt +"(" + histories[cnt] + ")</a></li>"; 
	 

		{% if entries %}
			{% for entry in entries %} 
				e_html += "<div style='position:relative; margin: 50px 20px 50px 50px; '>";
				e_html += "<div style='font-weight: 900; color: blue;'>"+'{{ entry.created | date:"o-m-d h:e" }}'+" </div>";
				e_html += "<div style='background-color: #EEEEEE; '>【"+categories["{{ entry.Category_id }}"]+"】 {{ entry.Title }}</div>"; 
				e_html += "<div style='background-color: #E0E0E0; '>{{ entry.Content|linebreaks }}</div>";		
				e_html += "</div>";	 
			{% endfor %} 
		{% else %}
			e_html = "암것도 없엉..";
		{% endif %}

		c_html += "</ul>";
		h_html += "</ul>";
		
		$("#history").html(h_html);
		$("#categories").html($("#categories").html()+c_html);
		$("#entries").html(e_html);
	}
</script>
</head>
<body onload="init();">
<div style="float: left; "> 
	<p style="text-align:center; margin: 10px; "><a href="http://localhost:8000/write/">작성하기</a></p>
	<p style="background-color:black; color: white;"> ▒ 카테고리 </p>
	<p id="categories" ></p>
	<p>==========></p>
	<p style="background-color:black; color: white;"> ▒ 기록 </p>
	<p id="history" ></p> 
</div>

<div style="float:left; width: 60%;">

{% if title %}
	<div style="font-size: 50px; color: #FFCC66;margin: 30px 20px 30px 50px; " >{{ title }}</div>
{% endif %}
<div id="entries"></div>



</body>
</html>

